/*

Captain Marshin Website.
captainmarshin.com
Desinged by Маршин Entertainment.
Copyright. All rights reserved.
2021

*/



/* COLORS PALLETE

	Music Tab
	Main color: #F1882E (orange)

	Shop Tab:
	Main color:

 */



	body{
		margin: 0;
		padding: 0;
		background-color: #000;
		color: #f2f2f2;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
/*        image-rendering: -webkit-optimize-contrast;*/

        -moz-osx-font-smoothing: grayscale;
    	-webkit-font-smoothing: antialiased;
    	-webkit-text-size-adjust: 100%;
		letter-spacing:.30px;

		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}


	.loading{
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100%;
		top: 50%;
  		left: 50%;
  		background-color: rgba(0, 0, 0, 0.5);
  		-ms-transform: translateX(-50%) translateY(-50%);
  		-webkit-transform: translate(-50%,-50%);
  		transform: translate(-50%,-50%);
  		visibility: visible;
  		transition: 0.5s all;
	}

	.loading object {
		z-index: 1;
		width: 120px;
		height: 120px;
		top: 45%;
  		left: 50%;
  		position: absolute;
  		-ms-transform: translateX(-50%) translateY(-45%);
  		-webkit-transform: translate(-50%,-45%);
  		transform: translate(-50%,-45%);
	}

	.loading-text{
		z-index: 1;
		width: 120px;
		height: 120px;
		margin-top: 30px;
		top: 60%;
  		left: 50%;
  		text-align: center;
  		position: absolute;
  		-ms-transform: translateX(-50%) translateY(-60%);
  		-webkit-transform: translate(-50%,-60%);
  		transform: translate(-50%,-60%);
  		color: #F1882E;
  		font-size: 12px;
  		font-weight: bold;
	}

	.loading.done {
		visibility: hidden;
		opacity: 0;
	}

/* WEBSITE HEADER */


	.header{
		height: 50px;
		box-sizing: border-box;
		border-bottom: 1px solid #222;
		display: flex;
		padding-top: 10px;
		padding-right: 15px;
		padding-left: 20px;
		padding-bottom: 10px;
		align-items: center;
    	justify-content: center;
		width: 100%;
		position: fixed;
		top: 0;
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		z-index: 1;
	}

	.notification{
		display: none;
		position: fixed;
/*		padding: 10px 20px;*/
/*		background-color: #f5f5f7;*/
		text-align: center;
/*		border-radius: 50px;*/
		color: #f5f5f7;
		z-index: 1;
		font-size: 13px;
		font-weight: bold;
		width: 80px;
		top: 15px;
		left: 50%;
    	transform: translateX(-50%);
	}

	.header-fix{
		height: 50px;
	}

	.logo{
		width: 50%;
	}

	.logo img{
		width: 100px;
  		height: auto;
		border: 0;
	}

	.button{
		width: 50%;
		text-align: right;
	}

	.donate-button{
		font-weight: bold;
		font-size: 16px;
		background-color: transparent;
		border-radius: 50%;
		padding: 0;
		color: #F1882E;
	}

	.donate{
		font-weight: bold;
		font-size: 12px;
		padding: 5px 12px;
		box-sizing: border-box;
		background-color: #F1882E;
		border-radius: 55px;
		border: 0;
		color: #000;
		float: right;
	}

	.donate:hover{
		cursor: pointer;
	}

	.donate-button .material-icons{
		vertical-align: -5px;
		font-size: 30px;
	}



	.badges{
		margin-top: 25px;
		margin-bottom: 15px;
	}

	.badges a{
		display: inline-block;
		vertical-align: top;
		margin-right: 8px;
	}


	.badges a:last-child{
		display: inline-block;
		vertical-align: top;
		margin-right: 0;
	}


	.close-btn-shop:hover{
		cursor: pointer;
	}


	.donate-service-logo{
		background-color: #f5f5f7;
		border-radius: 15px;
		box-sizing: border-box;
		padding: 20px;
		text-align: center;
		height: 82px;
		line-height: 62px;
/*		width: fit-content;*/
/*		margin: 0 auto;*/
	}

	.all-services{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 20px;
		margin-bottom: 30px;
	}

	.donate-service-buttons{
		text-align: center;
		padding: 5px;
	}

	.donate-button{
		background-color: #fff;
		color: #000;
		font-weight: bold;
		box-sizing: border-box;
		padding: 10px 30px;
		text-align: center;
		border-radius: 50px;
/*		display:inline-block;*/
		width: fit-content;
		display: inline-block;
		margin: 5px;
	}

	.donate-button svg{
		width: 17px;
		margin-right: 5px;
		height: auto;
		vertical-align: -3px;
	}

	.donate-button img{
		width: 17px;
		margin-right: 5px;
		height: auto;
		vertical-align: -3px;
	}

	.donate-button .material-icons{
		font-size: 17px;
		margin-right: 5px;
		height: auto;
		vertical-align: -3px;
	}

	.color-orange{
		color: #F1882E;
	}

	.donate-button-qr{
		background-color: #fff;
		color: #000;
		font-weight: bold;
		box-sizing: border-box;
		padding: 6px 20px;
		text-align: center;
		border-radius: 50px;
/*		display:inline-block;*/
		width: fit-content;
		display: inline-block;
		margin: 5px;
		line-height: 14px;
	}

	.donate-button-qr .material-symbols-outlined{
		padding: 0;
		margin: 0;
	}

	.donate-button:last-child{

	}

	.donate-service-logo img{
		width: 150px;
		height: auto;
	}

	.ton-logo-fix img{
		margin-top: 2px;
		width: 110px;
		height: auto;
	}

	.donate-service-text{
		font-size: 15px;
		margin-top: 10px;
		text-align: center;
		margin-bottom: 10px;
	}

	.donate-service-url{
		background-color: #fff;
		color: #000;
		font-weight: bold;
		box-sizing: border-box;
		padding: 10px 40px;
		margin-top: 10px;
		text-align: center;
		border-radius: 50px;
/*		display:inline-block;*/
/*		width: fit-content;*/
		margin: 5px;
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.donate-service-pay-options{
		padding: 5px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		margin-top: 10px;
	}

	.donate-service-pay-options-info{
		margin: 5px;
		display: inline-block;
		padding: 3px 12px;
		border: 1px solid #aaa;
		border-radius: 50px;
		color: #aaa;
	}

	.close-btn-shop{
		font-weight: bold;
		font-size: 12px;
		padding: 5px 12px;
		box-sizing: border-box;
		border-radius: 55px;
		border: 0;
		background-color: #008AFF;
		color: #FFFFFF;
		display: none;
		float: right;
	}

	.close-btn:hover{
		cursor: pointer;
	}

	.close-btn{
		font-weight: bold;
		font-size: 12px;
		padding: 5px 12px;
		box-sizing: border-box;
		border-radius: 55px;
		border: 0;
		background-color: #F1882E;
		color: #000000;
		display: none;
		float: right;
	}

	.close-btn .material-icons{
		font-size: 15px;
		vertical-align: bottom;
	}

	.close-btn-shop .material-icons{
		font-size: 15px;
		vertical-align: bottom;
	}

	.cart .material-icons{
		font-size: 15px;
		vertical-align: bottom;
	}


	.donate .material-icons{
		font-size: 15px;
		vertical-align: bottom;
	}

	.cart:hover{
		cursor: pointer;	
	}

	.close-btn-shop:hover{
		cursor: pointer;
	}









/* PAGES STYLES (DONATE, SHOP INFO, ALL CATEGORIES)	*/

	.pages{
		width: 100%;
/*		border-top: 1px solid #111;*/
		position: fixed;
		top: 50px;
		bottom: 155px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: none;
		overflow-y:scroll;
    	overflow-x:hidden;
    	z-index: 2;
	}


	.window-shop{
		width: 100%;
/*		border-top: 1px solid #111;*/
		position: fixed;
		top: 50px;
		bottom: 90px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: none;
		overflow-y:scroll;
    	overflow-x:hidden;
	}


	.window-shop:target{
		display: block;
		overflow-y:scroll;
    	overflow-x:hidden;
	}


	.window:target{
		display: block;
	}


	.window-title{
		display: block;
		width: 100%;
		color: #f5f5f7;
		font-size: 25px;
		height: 50px;
		font-weight: bold;
		margin-top: 14px;
		box-sizing: border-box;
	}

	.donate-block{
/*		margin-bottom: 20px;*/
/*		height: 277px;*/
		width: 100%;
		box-sizing: border-box;
		background-color: #1e1e1e;
		border: 1px solid #333;
		border-radius: 15px;
		color: #f5f5f7;
		padding: 20px;
	}

	#copy-payid:hover{
		cursor: copy;
	}

	.donate-block a{
		text-decoration: none;
		border: 0;
		color: #f5f5f7;
	}

	.donate-block:hover{
		cursor: pointer;
	}



/*	.window-text{
		display: block;
		width: 100%;
		height: 50px;
		color: #f5f5f7;
		font-size: 14px;
		margin-top: 5px;
		box-sizing: border-box;
	}*/



/* WEBSITE MUSIC PLAYER */


	.mini-player{
		height: 65px;
		width: 100%;
/*		border-top: 1px solid #222;*/
		position: fixed;
		bottom: 90px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
	}


	.mini-player-row{
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}


	.mini-player-cover{
		width: 55px;
		display: inline-block;
	}

	.mini-player-cover:hover{
		cursor: pointer;
	}

	.mini-player-cover img{
		width: 50px;
		height: 50px;
		border: 1px solid #222;
		border-radius: 5px;
		background-color: #1c1c1c;
		vertical-align: bottom;
		box-sizing: border-box;
		margin-top: 3px;
	}


	.mini-player-meta{
		box-sizing: border-box;
		padding-left: 17px;
		padding-right: 20px;
		width: 100%;
		display: inline-block;
		padding-top: 10px;
		max-width: calc(100%);
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.mini-player-meta:hover{
		cursor: pointer;
	}

	.mini-player-name span.material-icons {
		font-size: 14px;
		vertical-align: -2px;
		color: #999;
	}

	.mini-player-note{
		margin-top: 2px;
		font-size: 11px;
		color: #F1882E;
	}

	.mini-player-controls{
		width: 100%;
		text-align: right;
		display: inline-block;
	}

	.mini-player-controls span{
		color: #ddd;
	}

	.mini-player-controls span:hover{
		cursor: pointer;
	}


	#mini-player-new-release{
/*		display: none;*/
	}

	#mini-player-loading{
		display: none;
	}

	#mini-player-pause-btn{
		display: none;
	}

	#mini-player-play-btn{
		display: none;
	}

	#mini-player-start-btn{
		display: inline-block;
	}

	#mini-player-share-btn{
		display: inline-block;
	}



	#mini-player-loading .material-icons{
		line-height: 55px;
		font-size: 35px;
		vertical-align: 2px;
	}

	#mini-player-pause-btn .material-icons{
		line-height: 55px;
		font-size: 40px;
	}

	#mini-player-play-btn .material-icons{
		line-height: 55px;
		font-size: 40px;
		color: #F1882E;
	}

	#mini-player-start-btn .material-icons{
		line-height: 55px;
		font-size: 40px;
	}


	.mini-player-controls-ctrl{
		box-sizing: border-box;
		display: inline-block;
		width: 40px;
	}

	#mini-player-rewind-btn .material-symbols-outlined{
		line-height: 55px;
		font-size: 28px;
		vertical-align: 6px;
		box-sizing: border-box;
		padding-right: 10px;
		width: 40px;
		text-align: center;
	}

	#mini-player-rewind-btn{
		display: none;
	}

	#mini-player-like-btn .material-symbols-outlined{
		line-height: 55px;
		font-size: 28px;
		vertical-align: 6px;
		box-sizing: border-box;
		padding-right: 10px;
		width: 40px;
		text-align: center;
	}

	#mini-player-like-btn .material-symbols-outlined:hover{
		font-variation-settings:
	  	'FILL' 1,
	  	'wght' 400,
	  	'GRAD' 0,
	  	'opsz' 48;
	  	color: #F1882E;
	}

	#mini-player-rewind-btn .material-symbols-outlined{
		font-variation-settings:
	  	'FILL' 1,
	  	'wght' 400,
	  	'GRAD' 0,
	  	'opsz' 48;
	}

	#mini-player-rewind-btn .material-symbols-outlined:hover{
		font-variation-settings:
	  	'FILL' 1,
	  	'wght' 400,
	  	'GRAD' 0,
	  	'opsz' 48;
	  	color: #F1882E;
	}

	.material-symbols-outlined {
	  	font-variation-settings:
	  	'FILL' 0,
	  	'wght' 400,
	  	'GRAD' 0,
	  	'opsz' 48
	}


	.mini-player-timeline{
		width: 100%;
		height: 30px;
		position: fixed;
		bottom: 143px;
		padding: 0;
		margin: 0;
		z-index: 1;
		display: none;
/*		border: 1px solid red;*/
	}

	.mini-player-timeline progress{
		width: 100%;
		box-sizing: border-box;
		vertical-align: bottom;
	}

	.mini-player-timeline:hover > progress{
		height: 15px !important;
		cursor: pointer !important;
	}

	progress {
	  	border-radius: 7px;
	  	padding: 0;
		margin: 0;
	  	height: 1px;
	}

	progress::-webkit-progress-bar {
	  	background-color: #222;
	}

	progress::-webkit-progress-value {
	  	background-color: #F1882E;
/*	  	transition: width 2s;*/
	}

	progress::-moz-progress-bar {
	  	background-color: #222;
	}

/*	.mini-player-controls-ctrl div{
		
	}*/



/* MINI PLAYER EXPAND (TRACKS LIST)	*/


	.mini-player-expand{
		width: 100%;
/*		border-top: 1px solid #111;*/
		position: fixed;
		top: 50px;
		bottom: 155px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: none;
		overflow-y:scroll;
    	overflow-x:hidden;
	}


	/*[id^='current_play_'] .material-icons{
		color: #F1882E;
	}*/


	.mini-player-control{
		width: 100%;
/*		border-top: 1px solid #111;*/
		position: sticky;
		bottom: 0;
		height: 80px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(30, 30, 30, 0.2);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
	}

	.mini-player-control div {
		display: inline-block;
	}

	.mini-player-ctrls{
		width: 100%;
		text-align: center;
	}

	.mini-player-ctrls .material-icons{
		font-size: 50px;
	}


	.mini-player-expand-row{
		height: 60px;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		border-bottom: 1px solid #222;
		margin-bottom: 10px;
	}

	.mini-player-expand-row:hover{
		cursor: pointer;
	}
/*
	.mini-player-expand-row:first-child{
		margin-top: 15px;
	}*/

	.mini-player-expand-row:last-child{
		border-bottom: 0;
	}


	.mini-player-expand-cover{
		width: 55px;
		display: inline-block;
	}

	.mini-player-expand-cover img{
		width: 50px;
		height: 50px;
		border: 1px solid #222;
		border-radius: 5px;
		background-color: #1c1c1c;
		vertical-align: bottom;
	}

	.mini-player-expand-meta{
		box-sizing: border-box;
		padding-left: 17px;
		padding-right: 20px;
		width: 100%;
		display: inline-block;
		padding-top: 7px;
		max-width: calc(100%);
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.mini-player-expand-name {
		font-size: 17px;
		letter-spacing: .40px;
	}

	.mini-player-expand-name span {
		font-size: 14px;
		vertical-align: -2px;
		color: #999;
	}

	.mini-player-expand-artist {
		margin-top: 2px;
		font-size: 11px;
		text-overflow: ellipsis;
	}


	.mini-player-expand-controls{
		width: 100%;
		/*white-space: nowrap;
    	overflow: hidden;*/
		text-align: right;
		display: inline-block;
	}

	.mini-player-expand-play, .mini-player-expand-download, .mini-player-expand-share{
		vertical-align: -25px;
		display: inline-block;
	}

	.mini-player-expand-play span.material-icons:hover, .mini-player-expand-download span.material-icons:hover, .mini-player-expand-share span.material-icons:hover{
		cursor: pointer;
		color: #F1882E;
	}

	/*.mini-player-expand-play{
		margin-right: 10px;
	}*/


	.mini-player-expand-play span{
		font-size: 32px;
		color: #ddd;
	}

	.mini-player-expand-download span{
		font-size: 29px;
		color: #ddd;
	}

	.mini-player-expand-share span{
		padding: 0;
		vertical-align: 4.5px;
		color: #ddd;
	}



/* WEBSITE MENU */


	.menu{
		height: 90px;
		width: 100%;
		border-top: 1px solid #222;
		position: fixed;
		bottom: 0;
		display: flex;
		align-items: top;
    	justify-content: top;
    	box-sizing: border-box;
    	padding-top: 10px;
/*		background: rgba(28, 28, 30, 0.6);*/
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
	}


	.menu-item-name{
		font-size: 13px;
	}

	.active-music{
		color: #F1882E;
	}

	.active-shop{
		color: #1492F8;
	}

	.menu-item-1, .menu-item-2{
		width: 50%;
		box-sizing: border-box;
		color: gray;
		text-align: center;
	}

	.shop-btn:hover{
		color: #1492F8;
		cursor: pointer;
	}


	.music-btn:hover{
		color: #F1882E;
		cursor: pointer;
	}


/* PAGES ALL SINGLES */


	.all-collection{
		width: 100%;
/*		border-top: 1px solid #111;*/
		position: fixed;
		top: 50px;
		bottom: 90px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(30, 30, 30, 0.6);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 30px;
		display: none;
		overflow-y:scroll;
    	overflow-x:hidden;
	}


	.qrcode{
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid #aaa;
		width: 100px;
		height: 100px;
		padding: 10px;
		margin: 0 auto;
	}


	[id^='open-page-']:hover{
		cursor: pointer;
	}


	.all-singles-cards, .all-videos-cards{
		/*display: flex;
		flex-wrap: wrap;*/
/*		flex-flow: row wrap;*/
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 20px;
	}

	.all-lyrics-cards{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		margin-bottom: 20px;
	}

	.all-title{
		display: block;
		width: 100%;
		height: 50px;
		color: #f5f5f7;
		font-size: 25px;
		font-weight: bold;
		margin-top: 14px;
		box-sizing: border-box;
	}


	.all-lyrics-cards .lyrics-card{
		box-sizing: border-box;
/*		padding: 5px;*/
		width: auto;
		margin-right: 0px;
		flex-grow: 1;
	}

	.all-lyrics-cards .lyrics-card:last-child{
		box-sizing: border-box;
/*		padding: 5px;*/
		width: auto;
		margin-right: 0px;
		flex-grow: 1;
	}


	.all-singles-cards .cat_item{
/*		border: 1px solid red;*/
		box-sizing: border-box;
/*		padding: 5px;*/
		margin-right: 0px;
		flex-grow: 1;
	}

	.all-singles-cards .cat_item .item_name{
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
/*    	max-width: 150px;*/
		max-width: calc(100%);
	}

	.all-singles-cards .cat_item img{
/*		max-width: 210px;*/
		width: 100%;
		height: auto;
	}


/* VIDEO PAGE */

	.all-videos-cards .cat_item{
/*		border: 1px solid red;*/
		box-sizing: border-box;
/*		padding: 5px;*/
		margin-right: 0px;
		flex-grow: 1;
	}

	.all-videos-cards .cat_item .video_item_name{
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
/*    	max-width: 150px;*/
		max-width: calc(100%);
	}

	.all-videos-cards .cat_item img{
		width: 100%;
		height: auto;
	}

	.all-videos-cards .cat_item:last-child{
/*		border: 1px solid red;*/
		box-sizing: border-box;
		margin-right: 0px;
	}


/* LYRICS PAGE */

	.all-lyrics-cards .cat_item{
/*		border: 1px solid red;*/
		box-sizing: border-box;
/*		padding: 5px;*/
		margin-right: 0px;
		flex-grow: 1;
	}

	.all-lyrics-cards .cat_item .item_name{
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
/*    	max-width: 150px;*/
		max-width: calc(100%);
	}

	.all-lyrics-cards .cat_item img{
		width: 100%;
		height: auto;
	}

	.all-lyrics-cards .cat_item:last-child{
/*		border: 1px solid red;*/
		box-sizing: border-box;
		margin-right: 0px;
	}

	.all-singles-cards .cat_item:last-child{
/*		border: 1px solid red;*/
		box-sizing: border-box;
		margin-right: 0px;
	}




/* ALL MUSIC VIDEOS PAGE */







	a.title{
		color: #f5f5f7;
		text-decoration: none;
	}

	.title_link{
		float: right; 
		margin-right: 15px;
		font-size: 14px;
		color: #ff6600;
		font-weight: 300;
/*		text-decoration: underline;*/
	}

	.title_link:hover{
		cursor: pointer;
	}

	.albums, .singles, .eps, .listen, .playnow, .altversions, .from, .events, .featuring, .marshinshop, .soundtracks{
		box-sizing: border-box;
	}


	.albums,
	.singles,
	.eps,
	.soundtracks,
	.videos,
	.lyrics,
	.event,
	.projects {
		margin-top: 30px;
	}

	.albums .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.singles .cat_item{
			display:inline-block;
			margin-right: 8px;
		}
	.eps .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.listen .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.playnow .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.altversions .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.from .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.events .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.featuring .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.marshinshop .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.soundtracks .cat_item{
			display: inline-block;
			margin-right: 8px;
		}

	.videos .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.lyrics .cat_item{
			display: inline-block;
			margin-right: 8px;
		}

	.event .cat_item{
			display: inline-block;
			margin-right: 8px;
		}

		.cat_title{
			font-weight: bold;
			margin-left: 20px;
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 20px;
		}

		.cat_title .material-icons{
			font-size: 30px;
			margin-left: -7px;
			vertical-align: -8px;
			color: #999;
		}

		.cat_event_title{
			font-weight: bold;
			margin-left: 15px;
			margin-top: 15px;
			font-size: 18px;
		}


		.cat_event_date{
			font-weight: bold;
			margin-left: 15px;
			margin-top: 5px;
			margin-bottom: 20px;
			font-size: 18px;
		}

		.cat_content{
			width: 100%;
			overflow-x: scroll;
				overflow-y: hidden;
				white-space: nowrap;
				-ms-overflow-style: none;
				scrollbar-width: none;
				/*margin-bottom: 50px;*/
		}

		.cat_content_2{
			display:block;
			width: 100%;
			/*overflow-x: hidden;
				overflow-y: scroll;
				white-space: nowrap;
				-ms-overflow-style: none;
				scrollbar-width: none;*/
		}

		.cat_content::-webkit-scrollbar {
				 display: none;

		}

		.cat_content_player{
			margin-right: 20px;
			margin-left: 20px;
		}

		.cat_item{
			display: inline-block;
			margin-right: 15px;
		}

		.cat_item:last-child{
			margin-right: 20px;
		}

		.cat_item_fix{
			display: inline-block;
			margin-right: 15px;
		}

		img.item_cover{
			border: 1px solid #222;
			border-radius: 8px;
			height: 180px;
			width: 180px;
			background-color: #1c1c1c;
		}


		.item_name{
			margin-top: 3px;
			font-size: 11pt;
			overflow: hidden;
			width: 180px;
			text-overflow: ellipsis;
			color: #f5f5f7;
		}

		.item_name .material-icons{
			font-size: 16px;
			vertical-align: bottom;
			color: #999;
		}

		.item_year{
			margin-top: 3px;
			font-size: 11pt;
			overflow: hidden;
			width: 180px;
			text-overflow: ellipsis;
			color: #86868b;
		}

		.item_label{
			color: red;
			padding-right: 5px;
		}

		.cat_line{
/*			height: 1px;*/
			margin-top: 40px;
			/*margin-left: 15px;
			background-color: #191919;*/
		}

		iframe{
			border-radius: 3px; 
			border: 1px solid #1c1c1c;
		}

	.videos{
		box-sizing: border-box;
	}

		img.video_item_cover{
			border: 1px solid #222;
			border-radius: 8px;
			height: 180px;
			width: 360px;
			background-color: #1c1c1c;
		}

		.video_item_cover{
			border: 1px solid #222;
			border-radius: 3px;
			height: 180px;
			width: 360px;
			background-color: #1c1c1c;
			background-position: center; background-size: cover;
		}


		.video_item_name{
			margin-top: 8px;
			font-size: 11pt;
			overflow: hidden;
			width: 360px;
			text-overflow: ellipsis;
			color: #f5f5f7;
		}

		.video_item_name .material-icons{
			font-size: 16px;
			vertical-align: bottom;
			color: #999;
		}

	.lyrics{
		box-sizing: border-box;
	}

		img.lyrics_item_cover{
			border: 1px solid #222;
			border-radius: 8px;
			height: 80px;
			width: 180px;
			background-color: #1c1c1c;
		}

		.lyrics_item_symbol{
			background-color: red;
			height: 80px;
			width: 180px;
		}


		.lyrics_show_btn{
			color: orange;
			cursor: pointer;
			margin-top: 15px;
		}

		.lyrics_full{
			display: none;
			white-space: pre-line;
			line-height: 23px;
		}

		.lyrcis_short{
			white-space: pre-line;
			line-height: 23px;
		}

		.lyrics_slider{
				margin-left: 15px;
			}

			.lyrics_page{
				display: inline-block;
				margin-right: 10px;
				margin-top: 5px;
				margin-bottom: 5px;
			}

			.lyrics_page:hover{
				cursor: pointer;
				border-bottom: 3px solid orange;
			}

			.lpactive{
				border-bottom: 3px solid orange;
			}

			[id^='lyricsc-'] {
				display: none;
			}

			#lyricsc-1{
				display: block;
			}

	.projects{
		box-sizing: border-box;
	}

		img.more_item_cover{
			border: 1px solid #222;
			border-radius: 50%;
			height: 60px;
			width: 60px;
			background-color: #1c1c1c;
		}

/*		
// This is used for Listen links bubbles when track is not available yet. */

		.unavailable {
			pointer-events: none;
			filter: brightness(30%);
		}

	.footer{
		box-sizing: border-box;
		color: #464646;
		font-size: 14px;
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 200px;
		line-height: 20px;
	}

		.links{
			margin-top: 20px;
		}

		a.space-2{
			margin-right: 5px;
			color: #464646;
		}


		.projects .cat_item img:hover{
			cursor: pointer;
		}



.player_cover{
	width: 200px;
	height: 200px;
	border: 1px solid #1c1c1c;
	border-radius: 2px;
	background-color: #1c1c1c;
}





/* Player - Release Page */

	.player{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		border: 1px solid #222;
		border-radius: 10px;
		padding: 20px;
	}

	.player-info{
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}

	.player-cover {
		box-sizing: border-box;
		display: inline-block;
		max-width: 158px;
	}

	.player-cover img {
		box-sizing: border-box;
		max-width: calc(100%);
	}

	.player-release-info{
		box-sizing: border-box;
		width: 100%;
		padding-left: 17px;
		display: inline-block;
		max-width: calc(100%);
	}


	.player-release-name{
		box-sizing: border-box;
		width: 100%;
		font-weight: bold;
		font-size: 26px;
		max-width: calc(100%);
	}

	.player-release-primary{
		margin-top: 6px;
		color: #F1882E;
	}

	.player-release-feat{
		color: #555;
		font-size: 14px;
		margin-top: 6px;
	}

	.player-release-type{
		color: #555;
		font-size: 14px;
		margin-top: 6px;
	}


	.player-cover img {
		max-width: calc(100%);
		height: auto;
		border: 1px solid #1c1c1c;
		border-radius: 8px;
		background-color: #1c1c1c;
	}

	.player-tracklist{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		margin-top: 10px;
	}

	.player-track{
		height: 60px;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		border-bottom: 1px solid #222;
	}

	.player-track:hover{
		cursor: pointer;
		color: #F1882E;
	}

	.player-track-number{
		width: 30px;
		line-height: 60px;
		text-align: center;
		display: inline-block;
	}

	.player-track-name{
		box-sizing: border-box;
		padding-left: 17px;
		padding-right: 20px;
		width: 100%;
		display: inline-block;
		line-height: 60px;
		max-width: calc(100%);
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.player-track-name span.material-icons {
		font-size: 14px;
		vertical-align: -2px;
		color: #999;
	}

	.player-track-play-btn {
		width: 30px;
		line-height: 60px;
		display: inline-block;
		text-align: center;
	}

	.player-track-download-btn{
		width: 30px;
		padding-right: 6px;
		line-height: 60px;
		display: inline-block;
		text-align: center;
	}

	.player-track-download-btn span.material-icons{
		font-size: 30px;
		vertical-align: -9px;
	}

	.player-track-play-btn span.material-icons{
		font-size: 35px;
		vertical-align: -11px;
	}

	.player-release-year{
		font-size: 14px;
		margin-top: 15px;
		color: #555;
	}

	.player-release-download-full{
		float: right;
	}

	.player-release-download-full .material-icons{
		font-size: 18px;
		vertical-align: -5px;
	}




/* Lyrcis Card - Release Page	*/

	.lyrics-card{
		width: 280px;
		height: 230px;
		box-sizing: border-box;
		padding: 20px;
		background-color: #333;
		border-radius: 15px;
		display: inline-block;
		margin-right: 8px;
		position: relative;
		vertical-align: top;
/*		z-index: -1;*/
	}

	.lyrics-card-expanded{
		width: 90%;
		height: auto;
	}

	.lyrics-card-expanded-text{
		white-space: pre-line;
		line-height: 23px;
	}

	.lyrics-card-close-exp{
		margin-top: 30px;
		font-weight: bold;
		color: #F1882E;
	}

	.lyrics-card-close-exp a{
		text-decoration: none;
		font-weight: bold;
		color: #F1882E;
	}

	[id^='lyrics-card-expand']{
		display: none;
	}

	.lyrics-card-expand-written-by{
		font-size: 14px;
		margin-top: 20px;
	}

	.lyrics-card:last-child{
		margin-right: 18px;
	}

	.lyrics-card-name{
		font-weight: bold;
		font-size: 17px;
		max-width: calc(100%);
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.lyrics-card-name .material-icons{
		font-size: 16px;
		vertical-align: -2px;
		color: #999;
	}

	.lyrics-card-text{
		white-space: pre-line;
		line-height: 23px;
		background: -webkit-linear-gradient(#f5f5f7, #333);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}

	.lyrics-card-text:hover{
		cursor: pointer;
	}

	.lyrics-card-expand{
		bottom: 20px;
		position: absolute;
		font-weight: bold;
		color: #F1882E;
	}

	.lyrics-card-expand:hover{
		cursor: pointer;
	}



	.helpukraine { 
		text-decoration: none; 
	}


/* Events - Release Page */

	.event-card{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		border: 1px solid #222;
		border-radius: 10px;
		padding: 20px;
	}

	.event-info{
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}

	.event-cover {
		box-sizing: border-box;
		display: inline-block;
		max-width: 158px;
	}

	.event-date{
		text-align: center;
		padding: 15px;
		border-radius: 8px;
		box-sizing: border-box;
		background-color: #333;
	}

	.event-date-month{
		font-weight: bold;
		font-size: 15px;
	}

	.event-date-date{
		font-weight: bold;
		font-size: 18px;
	}

	.event-date-year{
		margin-top: 3px;
		font-size: 12px;
	}

	.event-release-info{
		box-sizing: border-box;
		width: 100%;
		padding-left: 17px;
		display: inline-block;
		max-width: calc(100%);
	}


	.event-release-name{
		box-sizing: border-box;
		width: 100%;
		font-weight: bold;
		font-size: 26px;
		max-width: calc(100%);
	}

	.event-release-primary{
		margin-top: 6px;
		color: #F1882E;
	}

	.event-release-feat{
		color: #555;
		font-size: 14px;
		margin-top: 6px;
	}

	.event-release-type{
		color: #555;
		font-size: 14px;
		margin-top: 6px;
	}


	.event-add-to-calendar{
		width: 100%;
/*		height: 35px;*/
		box-sizing: border-box;
		font-weight: bold;
		border-radius: 20px;
		background-color: #f5f5f7;
		color: #000;
		font-size: 14px;
		text-align: center;
		padding: 8px 12px;
		margin-top: 30px;
	}

	.event-add-to-calendar .material-symbols-outlined{
		font-size: 20px;
		vertical-align: -5px;
	}


