/*

Captain Marshin Website.
captainmarshin.com
Desinged by Маршин Entertainment.
Copyright. All rights reserved.
2021

*/

	body{
		margin: 0;
		padding: 0;
		background-color: #000;
		color: #f2f2f2;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
/*        image-rendering: -webkit-optimize-contrast;*/

        -moz-osx-font-smoothing: grayscale;
    	-webkit-font-smoothing: antialiased;
    	-webkit-text-size-adjust: 100%;
		letter-spacing:.30px;
	}


/* WEBSITE HEADER */


	.header{
		height: 50px;
		box-sizing: border-box;
		border-bottom: 1px solid #222;
		display: flex;
		padding-top: 10px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 10px;
		align-items: center;
    	justify-content: center;
		width: 100%;
		position: fixed;
		top: 0;
		background: rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
	}

	.header-fix{
		height: 60px;
	}

	.logo{
		width: 50%;
	}

	.logo img{
		width: 100px;
  		height: auto;
		border: 0;
	}

	.button{
		width: 50%;
		text-align: right;
	}

	.donate-button{
		font-weight: bold;
		font-size: 16px;
		background-color: transparent;
		border-radius: 50%;
		padding: 0;
		color: #F1882E;
	}

	.donate{
		font-weight: bold;
		font-size: 12px;
		padding: 5px 12px;
		box-sizing: border-box;
		background-color: #F1882E;
		border-radius: 55px;
		border: 0;
		color: #000;
	}

	.donate-button .material-icons{
		vertical-align: -5px;
		font-size: 30px;
	}



/* WEBSITE MUSIC PLAYER */


	.mini-player{
		height: 65px;
		width: 100%;
		border-top: 1px solid #111;
		position: fixed;
		bottom: 90px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}


	.mini-player-row{
		width: 100%;
		box-sizing: border-box;
		display: flex;
	}


	.mini-player-cover{
		width: 55px;
		display: inline-block;
	}

	.mini-player-cover:hover{
		cursor: pointer;
	}

	.mini-player-cover img{
		width: 50px;
		height: 50px;
		border: 1px solid #222;
		border-radius: 5px;
		background-color: #1c1c1c;
		vertical-align: bottom;
	}


	.mini-player-meta{
		box-sizing: border-box;
		padding-left: 17px;
		padding-right: 20px;
		width: 100%;
		display: inline-block;
		padding-top: 10px;
		max-width: calc(100%);
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.mini-player-meta:hover{
		cursor: pointer;
	}

	.mini-player-name span {
		font-size: 14px;
		vertical-align: -2px;
		color: #999;
	}

	.mini-player-note{
		margin-top: 2px;
		font-size: 11px;
		color: #F1882E;
	}

	.mini-player-controls{
		width: 100%;
		text-align: right;
		display: inline-block;
	}

	.mini-player-controls span{
		color: #ddd;
	}

	.mini-player-controls span:hover{
		cursor: pointer;
	}


	#mini-player-new-release{
/*		display: none;*/
	}

	#mini-player-loading{
		display: none;
	}

	#mini-player-pause-btn{
		display: none;
	}

	#mini-player-play-btn{
		display: none;
	}

	#mini-player-start-btn{
		display: inline-block;
	}

	#mini-player-share-btn{
		display: inline-block;
	}



	#mini-player-loading .material-icons{
		line-height: 55px;
		font-size: 35px;
	}

	#mini-player-pause-btn .material-icons{
		line-height: 55px;
		font-size: 40px;
	}

	#mini-player-play-btn .material-icons{
		line-height: 55px;
		font-size: 40px;
		color: #F1882E;
	}

	#mini-player-start-btn .material-icons{
		line-height: 55px;
		font-size: 40px;
	}


/*	.mini-player-controls-ctrl{
		height: 55px;
		box-sizing: border-box;
		border: 1px solid red;
	}*/

/*	.mini-player-controls-ctrl div{
		
	}*/



/* MINI PLAYER EXPAND (TRACKS LIST)	*/


	.mini-player-expand{
		width: 100%;
		border-top: 1px solid #111;
		position: fixed;
		top: 50px;
		bottom: 155px;
/*		display: flex;*/
		align-items: center;
    	justify-content: center;
		background: rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: none;
		overflow-y:scroll;
    	overflow-x:hidden;
	}


	.mini-player-expand-row{
		height: 60px;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		border-bottom: 1px solid #222;
		margin-bottom: 10px;
	}


	.mini-player-expand-cover{
		width: 55px;
		display: inline-block;
	}

	.mini-player-expand-cover img{
		width: 50px;
		height: 50px;
		border: 1px solid #222;
		border-radius: 5px;
		background-color: #1c1c1c;
		vertical-align: bottom;
	}

	.mini-player-expand-meta{
		box-sizing: border-box;
		padding-left: 17px;
		padding-right: 20px;
		width: 100%;
		display: inline-block;
		padding-top: 8px;
		max-width: calc(100%);
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}

	.mini-player-expand-name {
		font-size: 17px;
		letter-spacing: .40px;
	}

	.mini-player-expand-name span {
		font-size: 14px;
		vertical-align: -2px;
		color: #999;
	}

	.mini-player-expand-artist {
		margin-top: 2px;
		font-size: 11px;
		text-overflow: ellipsis;
	}


	.mini-player-expand-controls{
		width: 100%;
		/*white-space: nowrap;
    	overflow: hidden;*/
		text-align: right;
		display: inline-block;
	}

	.mini-player-expand-play, .mini-player-expand-download, .mini-player-expand-share{
		vertical-align: -32px;
		display: inline-block;
	}


	.mini-player-expand-play span{
		font-size: 32px;
		color: #ddd;
	}

	.mini-player-expand-download span{
		font-size: 29px;
		color: #ddd;
	}

	.mini-player-expand-share span{
		padding: 0;
		vertical-align: 4.5px;
		color: #ddd;
	}



/* WEBSITE MENU */


	.menu{
		height: 90px;
		width: 100%;
		border-top: 1px solid #111;
		position: fixed;
		bottom: 0;
		display: flex;
		align-items: top;
    	justify-content: top;
    	box-sizing: border-box;
    	padding-top: 10px;
/*		background: rgba(28, 28, 30, 0.6);*/
		background: rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
	}


	.menu-item-name{
		font-size: 13px;
	}

	.active-music{
		color: #F1882E;
	}

	.active-shop{
		color: #1492F8;
	}

	.menu-item-1, .menu-item-2{
		width: 50%;
		box-sizing: border-box;
		color: gray;
		text-align: center;
	}

	.shop-btn:hover{
		color: #1492F8;
		cursor: pointer;
	}


	.music-btn:hover{
		color: #F1882E;
		cursor: pointer;
	}





	a.title{
		color: #fff;
		text-decoration: none;
	}

	.title_link{
		float: right; 
		margin-right: 15px;
		font-size: 14px;
		color: #ff6600;
		font-weight: 300;
/*		text-decoration: underline;*/
	}

	.title_link:hover{
		cursor: pointer;
	}

	.albums, .singles, .eps, .listen, .playnow, .altversions, .from, .events, .featuring, .marshinshop, .soundtracks{
		box-sizing: border-box;
	}


	.albums,
	.singles,
	.eps,
	.soundtracks,
	.videos,
	.lyrics,
	.event,
	.projects {
		margin-top: 30px;
	}

	.albums .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.singles .cat_item{
			display:inline-block;
			margin-right: 8px;
		}
	.eps .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.listen .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.playnow .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.altversions .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.from .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.events .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.featuring .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.marshinshop .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.soundtracks .cat_item{
			display: inline-block;
			margin-right: 8px;
		}

	.videos .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.lyrics .cat_item{
			display: inline-block;
			margin-right: 8px;
		}
	.event .cat_item{
			display: inline-block;
			margin-right: 8px;
		}

		.cat_title{
			font-weight: bold;
			margin-left: 15px;
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 20px;
		}

		.cat_title .material-icons{
			font-size: 30px;
			margin-left: -7px;
			vertical-align: -8px;
			color: #999;
		}

		.cat_event_title{
			font-weight: bold;
			margin-left: 15px;
			margin-top: 15px;
			font-size: 18px;
		}


		.cat_event_date{
			font-weight: bold;
			margin-left: 15px;
			margin-top: 5px;
			margin-bottom: 20px;
			font-size: 18px;
		}

		.cat_content{
			width: 100%;
			overflow-x: scroll;
				overflow-y: hidden;
				white-space: nowrap;
				-ms-overflow-style: none;
				scrollbar-width: none;
				/*margin-bottom: 50px;*/
		}

		.cat_content_2{
			display:block;
			width: 100%;
			/*overflow-x: hidden;
				overflow-y: scroll;
				white-space: nowrap;
				-ms-overflow-style: none;
				scrollbar-width: none;*/
		}

		.cat_content::-webkit-scrollbar {
				 display: none;

		}

		.cat_content_player{
			margin-right: 15px;
			margin-left: 15px;
		}

		.cat_item{
			display: inline-block;
			margin-right: 15px;
		}

		.cat_item:last-child{
			margin-right: 15px;
		}

		.cat_item_fix{
			display: inline-block;
			margin-right: 12px;
		}

		img.item_cover{
			border: 1px solid #222;
			border-radius: 8px;
			height: 180px;
			width: 180px;
			background-color: #1c1c1c;
		}


		.item_name{
			margin-top: 3px;
			font-size: 11pt;
			overflow: hidden;
			width: 180px;
			text-overflow: ellipsis;
			color: #fff;
		}

		.item_name .material-icons{
			font-size: 16px;
			vertical-align: bottom;
			color: #999;
		}

		.item_year{
			margin-top: 3px;
			font-size: 11pt;
			overflow: hidden;
			width: 180px;
			text-overflow: ellipsis;
			color: #7B7B7B;
		}

		.item_label{
			color: red;
			padding-right: 5px;
		}

		.cat_line{
/*			height: 1px;*/
			margin-top: 40px;
			/*margin-left: 15px;
			background-color: #191919;*/
		}

		iframe{
			border-radius: 3px; 
			border: 1px solid #1c1c1c;
		}

	.videos{
		box-sizing: border-box;
	}

		img.video_item_cover{
			border: 1px solid #222;
			border-radius: 8px;
			height: 180px;
			width: 360px;
			background-color: #1c1c1c;
		}

		.video_item_cover{
			border: 1px solid #222;
			border-radius: 3px;
			height: 180px;
			width: 360px;
			background-color: #1c1c1c;
			background-position: center; background-size: cover;
		}


		.video_item_name{
			margin-top: 8px;
			font-size: 11pt;
			overflow: hidden;
			width: 360px;
			text-overflow: ellipsis;
			color: #fff;
		}

		.video_item_name .material-icons{
			font-size: 16px;
			vertical-align: bottom;
			color: #999;
		}

	.lyrics{
		box-sizing: border-box;
	}

		img.lyrics_item_cover{
			border: 1px solid #222;
			border-radius: 8px;
			height: 80px;
			width: 180px;
			background-color: #1c1c1c;
		}

		.lyrics_item_symbol{
			background-color: red;
			height: 80px;
			width: 180px;
		}


		.lyrics_show_btn{
			color: orange;
			cursor: pointer;
			margin-top: 15px;
		}

		.lyrics_full{
			display: none;
			white-space: pre-line;
			line-height: 23px;
		}

		.lyrcis_short{
			white-space: pre-line;
			line-height: 23px;
		}

		.lyrics_slider{
				margin-left: 15px;
			}

			.lyrics_page{
				display: inline-block;
				margin-right: 10px;
				margin-top: 5px;
				margin-bottom: 5px;
			}

			.lyrics_page:hover{
				cursor: pointer;
				border-bottom: 3px solid orange;
			}

			.lpactive{
				border-bottom: 3px solid orange;
			}

			[id^='lyricsc-'] {
				display: none;
			}

			#lyricsc-1{
				display: block;
			}

	.projects{
		box-sizing: border-box;
	}

		img.more_item_cover{
			border: 1px solid #222;
			border-radius: 50%;
			height: 60px;
			width: 60px;
			background-color: #1c1c1c;
		}

		.unavailable {
			filter: brightness(30%);
		}

	.footer{
		box-sizing: border-box;
		color: #464646;
		font-size: 14px;
		padding-top: 10px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 200px;
		line-height: 20px;
	}

		.links{
			margin-top: 20px;
		}

		a.space-2{
			margin-right: 5px;
			color: #464646;
		}


.player_cover{
	width: 200px;
	height: 200px;
	border: 1px solid #1c1c1c;
	border-radius: 2px;
	background-color: #1c1c1c;
}
